<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>251386905757-r5kpcpcq6gfl4457mpe3buuilurv26ig.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.251386905757-r5kpcpcq6gfl4457mpe3buuilurv26ig</string>
	<key>API_KEY</key>
	<string>AIzaSyAo52cZ125SfRdpbaMUO6pGb4O58DM07Bc</string>
	<key>GCM_SENDER_ID</key>
	<string>251386905757</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.somnus.Somnus</string>
	<key>PROJECT_ID</key>
	<string>somnus-52dde</string>
	<key>STORAGE_BUCKET</key>
	<string>somnus-52dde.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:251386905757:ios:532e60dca1662e15</string>
	<key>DATABASE_URL</key>
	<string>https://somnus-52dde.firebaseio.com</string>
</dict>
</plist>